<form name="ddc.doorForm" layout="row" layout-align="center" flex>
<md-dialog class="userDialog" ng-cloak flex-gt-sm="50">
    <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add new door</h2>
            </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout-padding class="md-dialog-content">
            <div layout="row" layout-xs="column" flex="none">
                <md-input-container class="md-block" flex>
                    <label>Door name</label>
                    <input type="text" ng-model="ddc.door.name" required>
                </md-input-container>
            </div>
            <div layout="row" layout-xs="column" flex="none">
                <md-input-container class="md-block" flex>
                    <label>Token</label>
                    <input type="text" ng-model="ddc.door.token" required>
                </md-input-container>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" flex="none">
        <md-button ng-click="ddc.submit()" ng-disabled="ddc.doorForm.$invalid">OK</md-button>
        <md-button ng-click="ddc.cancel()" style="margin-right:20px;">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
</form>