<md-content class="md-padding" layout-xs="column" layout="row" ng-init="vm.getEvents()" flex>
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Events</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
            <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
            <table class="table table-responsive table-striped">
                <tr>
                    <th>Date</th>
                    <th>Message</th>
                </tr>
                <tr ng-repeat="event in vm.events">
                    <td>{{ event.created | date : "yyyy.MM.dd HH:mm" }}</td>
                    <td>{{ event.message }}</td>
                </tr>
            </table>
        </md-card-content>
    </md-card>
</md-content>